[submodule "dashboard"]
	branch = master
	path = dashboard
	url = git@github.com:augustinsangam/crazyflie-dashboard.git
[submodule "server"]
	branch = master
	path = server
	url = git@github.com:augustinsangam/crazyflie-server.git
[submodule "simulation"]
	branch = master
	path = simulation
	url = git@github.com:augustinsangam/crazyflie-simulation.git
[submodule "firmware"]
	branch = master
	path = firmware
	url = git@github.com:augustinsangam/crazyflie-firmware.git
[submodule "exploration"]
	branch = master
	path = exploration
	url = git@github.com:augustinsangam/crazyflie-exploration.git
